.Signup { background-color: #fff; width: 45%; }
.extraSignupInputs { background-color: transparent; text-align: center; }
.extraSignupInputs > select { margin: 5px; }
.schoolSignupInput { margin: auto; }
#signupFormHacker { margin-top: 70px; }