/*.NewsFeedBlock {
	width:700px;
	height:215px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px black solid;
	flex-direction: column;
	justify-content: center;
	background-color: #FFFFFF;
}*/

.NewsFeedPicture {

}